
small {
    color: rgba(52, 73, 94, .3);
}

.headline {
    margin-top: 100px;
    text-align: center;
    font-weight: 700;
}
.headline img {
    border-radius: 100%;
}
.headline small {
    font-size: 22px;
}

.navigation li > a > span[class^="fui"] {
    margin-right: 10px;
}
.navigation .nav
{
    margin-left: 0px !important;
}
.navigation .nav li > a
{
    padding-left: 18px;
    padding-right: 18px;
}

.content {
    margin-top: 30px;
}

.dataTables_wrapper {
    padding: 20px;
    border: 2px solid #E7E9EC;
    box-sizing: border-box;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    font-size: 14px;
}
.dataTables_wrapper table {
    width: 100%;
    border-radius: 6px;
    box-shadow:0 0 0 1px #E7E9EC inset;
    overflow:hidden;
}
.dataTables_wrapper input {
    padding: 4px 6px;
    line-height:1;
    font-size:14px;
    height:28px;
}
.dataTables_wrapper th,
.dataTables_wrapper td {
    padding: 6px 10px;
    border: 1px solid #E7E9EC;
    border-left: 0px;
    border-bottom: 0px;
}
.dataTables_wrapper th {
    text-transform: capitalize;
    position: relative;
    outline: none;
    border-top: 0px;
}

.dataTables_wrapper th:last-child {
    border-right: 0px;
}

pre {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: none;
    background: #2F4154;
    color: white;
    box-sizing: border-box;
    transition: padding 400ms;
    padding: 1em 3em !important;
    border: 0;
}
#data + pre {
     border-radius: 6px;
}
.collapse {
    height: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.collapse.in {
    height: auto !important;
    padding-bottom: 3em !important;
}

[class^="sorting"]:after {
    font-family: Flat-UI-Icons;
    position: absolute;
    top: 4px;
    right: 10px;
}
.sorting_asc:after {
    content: "\e602";
}
.sorting_desc:after {
    content: "\e603";
    top: 10px;
}

.content {
    margin-bottom: 5em;
}
.content pre {
    border-bottom-right-radius: 0;
    margin-bottom: 0;
}
.content a.btn {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

td label.checkbox {
    top: -14px;
}

.progress {
    margin-bottom: 0;
}

.btn.noise {
    margin-left: 20px;
}

code
{
    color: #34495e;
    background: #ebedef;
}

tr
{
    transition: 300ms;
}

.active,
.highlight
{
    background: rgba(26, 188, 156, 0.2);
}

#example-zero-content_info,
#example-zero-content_paginate,
#example-cols-content_info,
#example-cols-content_paginate,
#example-tmpl-content_info,
#example-tmpl-content_paginate,
#example-rowa-content_info,
#example-rowa-content_paginate,
#example-psel-content_info,
#example-psel-content_paginate,
#example-temp-content_info,
#example-temp-content_paginate
{
    display: none;
}

